/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* VARIABLES DE COLOR */
:root {
    --azul: #005BBD;
    --amarillo: #FFD800;
    --negro: #000000;
    --blanco: #FFFFFF;
}

/* BASE */
body {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--negro);
    background-color: var(--blanco);
    line-height: 1.6;
}

/* HEADER */
.header {
    background-color: #005BBD;
    border-bottom: 4px solid #005BBD;
    padding: 16px 24px;
}

.header-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 16px 20px;
    display: flex;
    align-items: center;
    position: relative;
}

.logo {
    max-height: 70px;
    width: auto;
    height: auto;
}
.header-title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;

    font-size: 1.6rem;
    font-weight: 700;
    color: #005BBD;
    text-align: center;
    white-space: nowrap;
}    
/* MAIN */
.main {
    padding: 40px 20px;
}

.content {
    max-width: 900px;
    margin: 0 auto;
}

.content h1 {
    color: var(--azul);
    margin-bottom: 20px;
    font-size: 2rem;
}

.content h2 {
    margin-top: 30px;
    margin-bottom: 10px;
    color: var(--azul);
    font-size: 1.3rem;
}

.content p {
    margin-bottom: 15px;
}

.content ul {
    margin-left: 20px;
    margin-bottom: 15px;
}

.content ul li {
    margin-bottom: 8px;
}

.intro {
    background-color: #F5F8FC;
    border-left: 4px solid #FFD800;
    padding: 14px 18px;
    margin: 16px 0;
    line-height: 1.6;
    color: #000000;
}

/* Listas con mismo estilo visual */
.intro-list {
    background-color: #F5F8FC;
    border-left: 4px solid #FFD800;
    padding: 14px 40px;
    margin: 16px 0;
}

/* FOOTER */
.footer {
    background-color: var(--negro);
    color: var(--blanco);
    padding: 25px 20px;
    margin-top: 50px;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    font-size: 0.9rem;
}

/* RESPONSIVE */
@media (max-width: 768px) {
    .content h1 {
        font-size: 1.6rem;
    }

    .content h2 {
        font-size: 1.1rem;
    }

    .logo {
        max-height: 55px;
    }
    .header-title {
        font-size: 1.2rem;
    }
}

